@model WebAppMvcVda.Models.Viagem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Viagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finalizada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finalizada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Realisada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Realisada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desejada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desejada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
